// @use '../base/variables' as *;

// aside {
//   animation: subreveal forwards 7s;
// }

// .section-title {

//   .content-container {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     text-align: center;

//     #line-1 {
//       animation: subreveal forwards 4s;
//     }

//     #line-2 {
//       animation: subreveal forwards 6s;
//     }
//   }

//   // TODO Redo animation --->

//   #main-title {
//     opacity: 0;
//     padding-right: 16px;
//     animation: showup forwards 3s;
//     box-shadow: none;
//     white-space: nowrap;
//     border-right: 4px solid var(--accent-color);
//     border-bottom-right-radius: 10px;
//   }

//   #subtitle-p {
//     animation: subreveal forwards 7s;
//   }

//   #looking-for {
//     animation: subreveal forwards 5s;
//   }

//   @keyframes showup {
//     0% {
//       opacity: 0;
//       margin-top: calc(133px + 10vw)
//     }

//     50% {
//       opacity: 1;
//       margin-top: calc(133px + 10vw)
//     }

//     100% {
//       opacity: 1;
//       margin-top: 0px
//     }
//   }

//   @keyframes slidein {
//     0% {
//       margin-left: calc(-850px + -50vw)
//     }

//     50% {
//       margin-left: calc(-425px + -35vw)
//     }

//     100% {
//       margin-left: 0px;
//     }
//   }

//   @keyframes reveal {
//     0% {
//       opacity: 0;
//       width: 0px
//     }

//     100% {
//       opacity: 1;
//       width: auto;
//     }
//   }

//   @keyframes subreveal {
//     0% {
//       opacity: 0
//     }

//     75% {
//       opacity: 0
//     }

//     100% {
//       opacity: 1
//     }
//   }

//   @keyframes shadowreveal {
//     0% {
//       box-shadow: none
//     }

//     100% {
//       box-shadow: inset -0.08em 0 var(--text-primary), inset -2em 0 var(--accent-color), 0px 0px 0px $grey-light ;
//     }
//   }
// }



// .animate-on-scroll {
//   opacity: 0;
//   transform: scale(1.05);
//   transition: opacity 2s ease, transform 1s ease-in;
// }

// .animate-on-scroll.animate {
//   opacity: 1;
//   transform: translateX(0);
// }