@use './variables' as *;
@use '../utils/mixins' as *;

@font-face {
    font-family: 'Nunito';
    src: url("../../assets/fonts/Nunito-VariableFont_wght.ttf");
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--text-primary);
}