@use '../base/variables' as *;

.section-title,
.section-about,
.section-experience,
.section-skillset,
.section-contact,
.section-footer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 60vw;

	.line {
		display: block;
		width: 4em;
		height: 0.1875em;
		margin: 2.5em auto;
		background: var(--accent-color);
	}

	p {
		font-size: calc(0.70rem + 1.25vw);
	}
}

.section-skillset,
.section-experience {
	min-height: 100vh;
}

// Works carousel section
.section-works {
	height: 100vh;
	min-height: 100vh;
	color: var(--accent-color);
	background-color: var(--bg-primary);

	.content-slider {
		position: relative;
		width: 100%;
		height: 100%;

		input {
			display: none;
		}

		.slider {
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;

			.banner {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
				width: inherit;
				height: inherit;
				text-align: center;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				transition: all .5s ease;

				.banner-inner-wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					text-align: start;
					height: 100%;
					width: 60vw;
					padding-top: 6em;
					box-sizing: border-box;

					h2 {
						text-transform: none;
						width: 100%;
						text-align: start;
					}

					h1 {
						font-size: 6em;
						line-height: 95%;
					}

					.content {
						width: 100%;
					}

					img {
						margin-top: 1.5em;
						width: 160px;
						height: 160px;
					}

					.line {
						display: block;
						width: 4em;
						height: 0.1875em;
						margin: 2.5em auto;
						background: var(--accent-color);
					}

					.learn-more-button {
						z-index: 15;
						transform: scale(1);
						transition: .3s;

						&:hover {
							transition: .3s;
							transform: scale(1.01);
							transform: translateY(-5px)
						}

						a {
							padding: 0.5em 2em;
							text-align: center;
							font-size: 0.875em;
							color: var(--accent-color);
							text-transform: uppercase;
							border: 0.1875em solid var(--accent-color);

							&:hover {
								color: var(--text-primary);
								transition: .3s;
							}
						}
					}
				}
			}
		}

		.controls {
			position: absolute;
			bottom: 15px;
			width: 70%;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			text-align: center;
			color: var(--accent-color);

			label {
				position: relative;
				display: inline-block;
				width: 20%;
				height: 3.1em;
				overflow: hidden;
				margin: 0 1em;
				padding-top: 1em;
				text-align: left;
				text-transform: uppercase;
				font-size: 1em;
				color: var(--text-primary);
				font-weight: 400;
				cursor: pointer;
				transition: all .3s;

				&:hover {
					transform: translateY(-5px);
					color: var(--accent-color);
				}

				.progressbar {
					position: absolute;
					top: 0;
					left: 0;
					height: 3px;
					width: 100%;
					background: var(--text-primary);
					z-index: 100;

					.progressbar-fill {
						position: inherit;
						width: inherit;
						height: inherit;
						margin-left: -100%;
						background: var(--accent-color);
					}
				}

				span {
					font-size: 1.2em;
					font-weight: 700;
				}
			}
		}

		// Affichage des slides
		#banner1:checked~.slider #top-banner-1,
		#banner2:checked~.slider #top-banner-2,
		#banner3:checked~.slider #top-banner-3,
		#banner4:checked~.slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}

		// Style du label actif
		#banner1:checked~.controls label:nth-of-type(1),
		#banner2:checked~.controls label:nth-of-type(2),
		#banner3:checked~.controls label:nth-of-type(3),
		#banner4:checked~.controls label:nth-of-type(4) {
			cursor: default;
			color: var(--accent-color);
			transition: all .5s;
		}

		// Progressbar active
		#banner1:checked~.controls label:nth-of-type(1) .progressbar,
		#banner2:checked~.controls label:nth-of-type(2) .progressbar,
		#banner3:checked~.controls label:nth-of-type(3) .progressbar,
		#banner4:checked~.controls label:nth-of-type(4) .progressbar {
			background: var(--text-primary);
		}

		// Animation progressbar
		#banner1:checked~.controls label:nth-of-type(1) .progressbar-fill,
		#banner2:checked~.controls label:nth-of-type(2) .progressbar-fill,
		#banner3:checked~.controls label:nth-of-type(3) .progressbar-fill,
		#banner4:checked~.controls label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 15s linear;
		}
	}
}

/* Animations */
@keyframes progressBarFill {
	from {
		margin-left: -100%;
	}

	to {
		margin-left: 0;
	}
}

// End of .section-works

// Section footer
.section-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	height: 25vh;

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		#footer-links-socials-wrapper {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	#footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		a {
			color: var(--text-primary);
			text-decoration: underline;
			padding: 1em;

			&:hover {
				color: var(--accent-color);
			}
		}
	}

	#footer-socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.footer-social-item {
			margin: 0 1em;
			height: 32px;
			width: 32px;
		}
	}

	#footer-copy {
		margin-top: 1em;
	}
}

/* Media Queries */
@media only screen and (min-width: 1920px) {
	.content-container {
		min-width: 60vw;
	}

	.section-works {
		height: 46em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 12em;
	}
}

@media only screen and (max-width: 1919px) {

	.content-container,
	.banner-inner-wrapper {
		max-width: 60vw;
		min-width: 60vw;
	}

	.section-works {
		height: 43em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 11em;
	}
}

@media only screen and (max-width: 1680px) {
	.section-works {
		height: 40em;
	}

	.section-works .content-slider .controls label {
		font-size: calc(0.8rem + 0.2vh);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 9em;
	}
}

@media only screen and (max-width: 1120px) {
	.section-works {
		height: 35em;
	}

	.section-works .content-slider .controls {
		bottom: 15px;
	}

	.section-works .content-slider .controls label {
		font-size: calc(0.7rem + 0.2vh);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 7em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 2em auto;
	}

	.section-about .content-container,
	.section-experience .content-container,
	.section-skillset .content-container,
	.section-contact .content-container,
	.section-footer .content-container {
		min-width: 60vw;
	}

	.banner-inner-wrapper {
		min-width: 60vw;
	}
}

@media only screen and (max-width: 1024px) {
	.section-works .content-slider .controls {
		bottom: 15px;
		width: 80%;
	}

	.section-works .content-slider .controls label {
		width: 19%;
		font-size: calc(0.6rem + 0.2vh);
	}
}

@media only screen and (max-width: 860px) {
	.section-works {
		height: 29em;
	}

	.section-works .content-slider .controls {
		bottom: 15px;
		width: 90%;
	}

	.section-works .content-slider .controls label {
		font-size: calc(0.6rem + 0.2vh);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper h2 {
		font-size: calc(1.25rem + 2.5vw);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper h1 {
		font-size: 4.5em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 5em;
	}
}

@media only screen and (max-width: 768px) {

	.section-about .content-container,
	.section-experience .content-container,
	.section-skillset .content-container,
	.section-contact .content-container,
	.section-footer .content-container {
		min-width: 80vw;
	}

	.banner-inner-wrapper {
		min-width: 80vw;
	}

	.section-works {
		height: 27em;
	}

	.section-works .content-slider .controls {
		width: 100%;
	}

	.section-works .content-slider .controls label {
		width: 40%;
		font-size: calc(0.6rem + 0.2vh);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 1.7em auto;
	}

	.section-footer {
		flex-direction: column;
		height: 100vh;

		#footer-links {
			flex-direction: column;
		}

		#footer-socials {
			margin-top: 16px;
		}

		footer {
			margin-bottom: -64px;

			#footer-links-socials-wrapper {
				flex-direction: column;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.section-works {
		height: 26em;
	}

	.section-works .content-slider .controls {
		bottom: 15px;
	}

	.section-works .content-slider .controls label {
		width: 40%;
		font-size: 0.7em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper h2 {
		font-size: calc(1.25rem + 2.5vw);
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper h1 {
		font-size: 3em;
	}

	.section-works .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 1.7em auto;
	}

	.section-footer {
		flex-direction: column;
		height: 100vh;

		#footer-links {
			flex-direction: column;
		}

		#footer-socials {
			margin-top: 16px;
		}

		footer {
			margin-bottom: -64px;

			#footer-links-socials-wrapper {
				flex-direction: column;
			}
		}
	}
}

@media only screen and (max-width: 315px) {
	.section-works .content-slider .controls label {
		width: 80%;
		font-size: 0.6em;
	}
}