@use '../base/variables' as *;
@use '../utils/mixins' as *;

#section-contact {
    visibility: hidden;
    z-index: 10000;
    position: fixed;
    bottom: 10%;
    left: 10%;
    margin-bottom: -350px;
    width: 80%;
    height: 80%;
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out, margin-bottom 0.7s ease-in-out, backdrop-filter 0.7s ease-in-out;

    &.active {
        opacity: 1;
        margin-bottom: 0;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

#form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    padding: 20px;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;

    #section-contact.active & {
        transform: scale(1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    #contact-form {
        width: 100%;
        max-width: 400px;
    }

    #form-title {
        width: 100%;
        max-width: 400px;
    }

    #close-modal-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0 8px;
        color: var(--text-primary);
        border: 1px solid var(--text-primary);
        border-radius: 10px;
        background: transparent;
        font-size: calc(0.5em + 2vh);
        font-weight: 800;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            color: var(--accent-color);
            transition: .1s ease-in-out;
        }
    }
}

input,
textarea {
    color: var(--text-primary);
    background: transparent;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
        box-shadow: 0 0 5px var(--accent-color);
    }

    textarea {
        min-height: 125px;
    }
}

.field-body {
    margin-bottom: 12px;
}

.field {
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form-button {
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 12px;
    background: transparent;
    font-weight: bold;
    transition: all 0.3s ease;


    &:hover {
        background-color: var(--accent-color);
        color: var(--text-primary);
        border: 1px solid var(--accent-color);
        cursor: pointer;
    }
}

/* Media Queries */
@media only screen and (min-width: 1920px) {
    #section-contact {
        min-width: 30%;
        max-width: 30%;
        left: 35%;
    }
}

@media only screen and (max-width: 1919px) {
    #section-contact {
        min-width: 40%;
        max-width: 40%;
        left: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    #section-contact {
        min-width: 60%;
        max-width: 60%;
        left: 20%;
    }
}

@media only screen and (max-width: 768px) {
    #section-contact {
        min-width: 80%;
        max-width: 80%;
        left: 10%;
    }
}