@use '../base/variables' as *;
@use '../utils/mixins' as *;

#skillset-container {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        width: 100%;
    }
}

.skillset-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skillset-inner-wrapper {
    width: fit-content;
    min-width: 210px;
    margin: 30px;
}

.skillset-item {
    width: fit-content;
    min-width: 170px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-left: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    border-radius: 6px;
    gap: 10px;
    font-size: calc(0.5rem + 0.75vw);
    transition: 0.5s ease-in-out;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    &:hover {
        transform: translateX(10px);
        transition: 0.5s ease-in-out;
        cursor: pointer
    }
}

@media only screen and (max-width: 1600px) {
    .skillset-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .skillset-inner-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .skillset-item {
        min-width: 120px;
        width: auto;
        margin: 8px;
        padding: 8px;
    }

    .skillset-item img {
        width: 24px;
        height: 24px;
    }
}