@use '../base/variables' as *;
@use '../utils/mixins' as *;

.content-container {
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid var(--accent-color);
        border-radius: 10px;
        padding: 0.25rem;
    }

    ul {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        list-style-type: disc;

        li {
            color: var(--text-secondary);
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }
    }
}