@use '../utils/mixins' as *;
@use '../base/variables' as *;

.navlogo img,
#scroll-to-top {
    width: 86px;
}

#scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 10000;

}

.navlogo img:hover,
#scroll-to-top:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 1920px) {

    .navlogo img,
    #scroll-to-top {
        max-width: 86px;
    }
}

@media only screen and (max-width: 1120px) {

    .navlogo img,
    #scroll-to-top {
        max-width: 64px;
    }
}